@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
:root {
  --green: #18A558;
  --darkGreen: #116530;
  --accentGreen: #21B6A8;
  --darkerGreen: #0b3d1d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: var(--green);
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-areas:
  "head nav1 nav2"
  "body1 body2 body3"
  "body4 body5 body6"
  "footer1 footer2 footer3";
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-columns: 1fr 2fr 1fr;
}

#logo {
  grid-area: head;
  background-color: var(--darkGreen);
  height: 12vh;
  padding-top: 4vh;
  padding-left: 1vw;
  font-size: 6vh;
}

#bars {
  padding-right: 1em;
  padding-left: 1em;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  nav > i {
    padding: 1rem;
    font-size: 2em;
  }
  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--darkGreen);
    border-radius: 0px 0px 3px 3px;

  }
  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
  }
  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    background-color: var(--darkerGreen);
  }
  nav > .fa-bars {
    display: none;
  }
}

nav {
  background-color: var(--darkGreen);
  height: 10vh;
  border-radius: 0px 0px 3px 3px;
}

nav ul li {
  display: inline-block;
  text-align: right;
  margin: 0 0px;
  padding-top: 1vh;
}

nav ul li * {
  text-decoration: none;
  color: whitesmoke;
}

nav > ul > li:hover {
  background-color: var(--accentGreen);
}

#meat {
  grid-area: body2;
  text-align: center;
  padding-top: 2vh;
}

#aboutMeat {
  grid-area: body2;
  text-align: center;
  padding-top: 1vh;
}
.quote {
  margin-top: 1em;
}

#quote {
  background-color: ;
}

#main {
margin-bottom: 100px;
}

#contact {
  grid-area: footer3;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--darkGreen);
  height: 12vh;
  padding-top: 3vh;
  padding-right: 1vw;
  border-radius: 3px 3px 0px 0px;
}
