@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
:root {
  --green: #18A558;
  --darkGreen: #116530;
  --accentGreen: #21B6A8;
  --darkerGreen: #0b3d1d;
  --white: #E8E8E8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 3vh;
  color: var(--white);
}

body {
  background-color: var(--green);
  font-family: "Ubuntu", sans-serif;
  color: var(--white);
  text-align: center;
}

.grid-container {
  height: 125vh;
  display: grid;
  grid-template-areas:
  "head nav1 nav2"
  "body1 body2 body3"
  "body4 body5 body6"
  "footer1 footer2 footer3";
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-columns: 1fr 2fr 1fr;
}

#logo {
  grid-area: head;
  background-color: var(--darkGreen);
  height: 16vh;
  padding-top: 2vh;
  font-size: 65px;
  padding-bottom: 20px;
  justify-self: flex-start;
  padding-right: 100%;
  padding-left: 1vw;
}

.nav-container {
  grid-column-start: nav1;
  grid-column-end: nav2;
  text-align: right;
  width: 100vw
}

nav ul li * {
  text-decoration: none;
  color: var(--white);
}

.nav > * {
  background: var(--darkerGreen);
  text-align: center;
  color: var(--white);
  cursor: pointer;
  font-size: 1em;
  padding: 0.5rem;
  border: 1em;
  transition: all 0.5s;
  border-radius: 4px;
  width: auto;
  text-decoration: none;
}

#bars {
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.2em;
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  nav > i {
    padding: 1rem;
    font-size: 2em;
  }
  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--darkGreen);
    border-radius: 0px 0px 3px 3px;
  }
  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
  #inputButton {
    margin-top: .5em;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
  }
  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    background-color: var(--darkerGreen);
  }
  nav > .fa-bars {
    display: none;
  }

}

nav {
  background-color: var(--darkGreen);
  height: 110px;
  border-radius: 0px 0px 3px 3px;
}

nav ul li {
  display: inline-block;
  text-align: right;
  margin: 0 0px;
  margin-top: 0.1vh;
}

nav > ul > *:hover {
  background-color: var(--accentGreen);
}

#meat {
  grid-area: body2;
  grid-column-start: body1;
  grid-column-end: body3;
  text-align: center;
  padding-top: 2vh;

}

#aboutMeat {
  grid-area: body2;
  grid-column-start: body1;
  grid-column-end: body3;
  text-align: center;
  padding-top: 1vh;
}

#quote {
  margin-top: 1em;
  grid-area: body5;
  text-align: center;
}

#author {
  margin-top: 2em;
  grid-area: body5;
  padding-bottom: 5px;
}

#contact {
  grid-area: footer3;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--darkGreen);
  height: 58vh;
  padding-top: 3em;
  padding-right: 1vw;
  border-radius: 3px 3px 0px 0px;
}

#payPal {
  text-align: center;
  margin-top: 0;
}

#email {
  grid-area: footer3;
  text-align: right;
}

#question {
  padding-left: 40px;
  padding-top: 10px;
  grid-area: footer1;
  text-align: left;
}

#mario {
  width: 75px;
}

#inputButton {
  background: var(--darkerGreen);
  text-align: center;
  color: whitesmoke;
  cursor: pointer;
  font-size: 1em;
  border: 1em;
  transition: all 0.5s;
  border-radius: 4px;
  width: auto;
  text-decoration: 0;
  padding: .2em;
  margin-top: .5em;
}

#inputButton:hover {
  background-color: var(--accentGreen);
}

#userInput {
  background-color: var(--white);
  border-radius: 10px;
  color: black
}

#bigBangPayload > *{
  grid-area: body5;
  background-color: var(--white);
  border: solid 2px rgba(102, 102, 102, 0.5);
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  min-width: auto;
  max-width: 800px;
}

#nameLink {
  text-decoration: none;
  color: black;
}

#main {
  display: inline-block;
  grid-area: body5;
  text-align: center;
}
